build/
symquery/
misc/*.h
libs/SDL
*__pycache__*
*.log
Release/
*.pyd
rectbinpack/_rbp.cpp
pypy/
config.ini
plugins/test.py
symbols.json
out/
.python-version
tags
*.o
*.tar.gz
log.txt
DrMemory-Linux-2.3.0-1
*.so
