backcall==0.1.0
cffi==1.14.0
click==7.1.2
decorator==4.4.2
fancycompleter==0.9.1
greenlet==0.4.13
ipdb==0.13.2
ipython==7.14.0
ipython-genutils==0.2.0
jedi==0.17.0
parso==0.7.0
pdbpp==0.10.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.1.2
pip-tools==5.1.2
prompt-toolkit==3.0.5
protobuf==3.11.3
ptyprocess==0.6.0
pycparser==2.20
Pygments==2.6.1
pyrepl==0.9.0
readline==6.2.4.1
six==1.14.0
traitlets==4.3.3
wcwidth==0.1.9
wmctrl==0.3
